.cart-header {
    display: flex;
}

.cart-header button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20pt;
    position: absolute;
    right: 10px;
    top: 10px;
}

.cart-items {
    display: flex;
    place-items: center;
    justify-content: space-between;    
}

.cart-items img {
    width: 13%;
}

.cart-items-amount {
    display: flex;
    place-items: center;
    justify-content: space-around;
    width: 10%;
    font-size: 14pt;
}

.cart-items-amount b {
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16pt;
}

.total ~ button {
    border: 1px solid grey;
    border-radius: 30px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 15pt;
    padding: 7px 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 40px 10px 0;
}

.total ~ button:hover {
    background-color: #000;
    color: #fff;  
}

.total ~ a {
    text-decoration: none;
    font-size: 13pt;
    position: absolute;
    right: 3%;
    bottom: 7%;
    color: #000;
    border: 1px solid grey; 
    padding: 1%;
    transition: 0.25s ease-in-out;
}

.total ~ a:hover {
    background-color: #000;
    color: #fff;
}