footer {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    text-align: center;
}

.footer__section {
    text-align: left;
}

.footer__section ul {
    list-style-type: none;
}