nav {
    display: flex;
    /* background-color: skyblue; */
    background-color: #0970a8;
    color: white;
    place-items: center;
    justify-content: space-between;
}

nav img {
    height: 100px;
    margin: 0 50px;
    padding: 10px 50px;
}

nav div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: space-between;
}

nav a {
    color: #000;
    text-decoration: none;
}

.nav-cart {
    display: flex;
    width: 20%;
    place-items: center;
    justify-content: space-between;
    margin-right: 5%;
}