nav {
    display: flex;
    background-color: 000;
    color: black;
    place-items: center;
    justify-content: space-between;
    letter-spacing: 3px;
}

nav a img {
    height: 100px;
    margin: 0 50px;
    padding: 5px 50px;
}

nav div {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: space-between;
    place-items: center;
}

nav a {
    color: #000;
    text-decoration: none;
}

.nav-cart {
    display: flex;
    width: 30%;
    place-items: center;
    justify-content: space-between;
    margin-right: 5%;
    position: relative;
}

.nav-cart a {
    border: 1px solid grey;
    border-radius: 30px;
    padding: 15px;
    transition: 0.25s ease-in-out;
}

.nav-cart a:hover {
    background-color: #000;
    color: #fff;
    
}

.nav-cart p {
    display: flex;
    place-items: center;
}

.nav-cart p img {
    height: 40px;
    width: 40px;
}

.cart-items-icon {
    border: 1px solid crimson;
    border-radius: 50%;
    width: 10px;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    margin-bottom: 20px;
    margin-right: -10px;
    background-color: crimson;
    color: #eee;
}

.menu {
    display: none;
}

#dropdown-menu {
    height: 300px;
    width: 250px;
    background-color: white;
    color: black;
    margin-top: 40%;
    right: 0;
    border: 1px solid lightgrey;
    position: absolute;
    font-size: 16pt;
}

#dropdown-menu ul {
    display: inline;
}

#dropdown-menu ul li {
    margin: 25px 0;
}

@media only screen and (max-width: 1600px) {
    nav {
        font-size: 10pt;
    }
    
    .nav-cart {
        width: 35%;
    }
}

@media only screen and (max-width: 1200px) {    
    .nav-cart {
        width: 40%;
    }
}

@media only screen and (max-width: 1000px) {   
    /* .nav-cart {
        width: 50%;
    } */

    .menu {
        width: 100%;
        display: inline-flex;
        flex-direction: row-reverse;
    }

    .menu img {
        width: 35px;
        height: 35px;
    }

    nav ul, .nav-cart {
        display: none;
    }
}

/* @media only screen and (max-width: 900px) {   
    .menu {
        width: 100%;
        display: inline-flex;
        flex-direction: row-reverse;
    }

    .menu img {
        width: 35px;
        height: 35px;
    }

    nav ul, .nav-cart {
        display: none;
    }
} */