.props-card {
    padding: 50px;
}

.props-card img {
    height: 600px;
    overflow: hidden;
}

.props-card img:hover {
    transform: scale(1.2)
}

.props-card h2, .props-card h3, {
    text-align: center;
}