.product-item-container {
    margin: 30px;
    width: 400px;
}

.product-item-container img {
    height: 310px;
    width: 420px;
}

.add-to-cart-btn {
    display: flex;
    justify-content: space-between;
    place-items: center;
}